---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../styles/style.css'
const pageTitle = "Page d'accueil";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Mon sous-titre de blog génial</h2>
</BaseLayout>